.footer__top-wrap{
	@include clearfix();
}
.footer{
	border-bottom: 3px solid #6a6a6a;
}
.logo-wrap{
	margin-bottom: 15px;
}
.footer__left-block{
	padding-top: 30px;
	float: left;
	width: 55%;
}
.footer__right-block{
	padding-top:35px;
	float: right;
	width: 45%;
	@include clearfix();
}
.menu-wrap{
	max-width:575px;
}
.footer-menu{
	&__list{

	}
	&__item{
		font-family: 'etelkaregregular';
		display: inline-block;
		margin-right: 30px;
		position: relative;
		color: #5f6060;
		@include font-size(22px);
	}
	// &__item:before{
	// 	content: "\2022";
	// 	font-size: 10px;
	// 	position: absolute;
	// 	left: -5px;
	// 	top:5px;
	// }
	&__item:after{
		content: "\2022";
		font-size: 9px;
		position: absolute;
		right: -20px;
		top: 5px;
	}
	&__item:last-child{
		margin-right: 0;
	}
	&__item:last-child:after{
		display: none;
	}
	&__link{
		&:hover{
			color:$green;
		}
	}
}
.social-block{
	&__wrap{
		float: left;
	}
	&__list{

	}
	&__item{
		display: inline-block;
		width: 52px;
		height: 52px;
		margin-left: 5px;
	}
	&__item:first-child{
		margin-left: 0;
	}
	&__link_fb{
		background: url(../img/fb.png)
	}
	&__link_vk{
		background: url(../img/vk.png)
	}
	&__link_inst{
		background: url(../img/inst.png)
	}
	&__link{
		display: block;
		width: 100%;
		height: 100%;
		background-size: cover;
	}
}
.pay-block{
	&__wrap{
		float: right;
	}
	&__list{

	}
	&__item{
		margin-bottom: 13px;
	}
	&__link_mc-visa{
		background: url(../img/mc-visa.png);
		width: 210px;
		height: 53px;
	}
	&__link_sber-russia{
		background: url(../img/sber-russia.png);
		width: 198px;
		height: 22px;
	}
	&__link_tinkoff{
		background: url(../img/tinkoff.png);
		width: 140px;
		height: 38px;
	}
	&__link{
		display: block;
		background-size:cover;
		background-repeat: no-repeat;
	}
}
.social-block__title,
.pay-block__title{
	margin-bottom: 20px;
	@include font-size(24px);
	font-weight: bold;
}
.usligi{
	&__list{

	}
	&__item{
		font-weight: bold;
		@include font-size(20px);
		margin-bottom: 35px;
	}
	&__link{
		color: #5f6060;
		&:hover{
			text-decoration: underline;
		}
	}
}
.poduslugi{
	&__list{
		margin-top: 5px;
	}
	&__item{
		font-weight: normal;
		@include font-size(21px);
	}
	&__link{
		padding-left: 5px;
		&:hover{
			text-decoration: underline;
		}
		&:before{
			content:"-";
		}
	}
}
.uslugi__wrap{
	padding: 58px 0 18px 0;
	width: 100%;
	text-align: justify;
}
.uslugi__item-block{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	text-align: left;
}
.justify{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.footer__top{
	position: relative;
	padding-bottom: 10px;
	&:after{
		content: '';
		position: absolute;
		background: url(../img/icons/pattern.png) repeat-x;
		height: 6px;
		width: 100%;
		bottom: 0;
	}
}