.header{
	.menu-adapt{
		display: none;
	}
	padding-bottom: 45px;
	&__top-line{
		@include clearfix();
		min-height: 70px;
		background: #fff;
		line-height: 70px;
	}
	&__logo-wrap{
		float: left;
		img{
			vertical-align: middle;
		}
	}
	&__nav-wrap{
		float: right;
	}
	&__banner-wrap{
		min-height: 580px;
		background: url('../img/header_bg.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 67px;
	}
}
.header__logo-link{
	display: inline-block;
}
// NAV ICON
.current{
	display: none;
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 40px;
  height: 28px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute; //jktym
  height: 6px;
  width: 70%;
  background: $green;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon4 {
}

#nav-icon4 .first {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 .second {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 .last {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open .first {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

#nav-icon4.open .second {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open .last {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0px;
  left: 0px;
}

.banner{
	&__title-wrap{
		padding-left: 18px;
		color: $grey;
		margin-top: 70px;
		// width: 61%;
		position: relative;
		margin-bottom: 30px;
		&:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			left: 0;
			bottom: 0;
			top: 0;
		}
	}
	&-title{
		@include font-size(35px);
		text-transform: uppercase;
		background: #fff;
		margin-bottom: 15px;
	    padding: 5px 10px;
	    display: inline-block;
	    font-family: 'etelka_probold';
	    width: 60%; // однакова ширина h1
	}
	&-sub-title{
		@include font-size(18px);
		font-family: 'etelkaregregular';
		font-weight: bold;
		display: block;
	}
	&__form-wrap{
		padding-left: 18px;
		width: 22%;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			bottom: 0;
			top: 0;
			left: 0;
		}
		.count-price select{
			display: none !important;
			margin: 0 auto !important;
			padding: 0px !important;
			position: absolute !important;
			left: 0px !important;
			top: 0px !important;
			width: 10px !important;
			height: 10px !important;
			opacity: 0 !important;
		}
		.jq-selectbox__select-text{
			padding: 6px;
			font-family: 'etelkaregregular';
		}
		.jq-selectbox{
			padding: 0 !important;
			font-size: 25px !important;
		}
		.jq-selectbox__select{
			&:after{
				content: '';
				position: absolute;
				width: 18px;
				height: 9px;
				background: url('../img/icons/arrow-b.png');
				right: 15px;
				top: 21px;
			}
		}
		.jq-selectbox__dropdown{
			top: 50px;
			left: -3px;
		}
		.select-service,
		.input-tel{
			@include font-size(25px);
			margin-bottom: 20px;
			background: none;
			border: 3px solid #fff;
			padding: 6px;
			cursor: pointer;
			outline: none;
			color: $grey;
			width: 240px;
		}
		.input-tel{
			cursor: default;
		}
		input[placeholder] {
			&::-webkit-input-placeholder {color:#6a6a6a;}
			&::-moz-placeholder          {color:#6a6a6a;}
			&:-moz-placeholder           {color:#6a6a6a;}
			&:-ms-input-placeholder      {color:#6a6a6a;}
			color:#6a6a6a;
			font-family: 'etelkaregregular';
		}
		.option-service{
			@include font-size(22px);
			cursor: pointer;
			padding: 10px;
			outline: none;
			color: $grey;
			width: 240px;
			border-bottom: 3px solid #fff;
			&-h{
				background: #fff;
				&:hover{
					border-bottom: 3px solid $green;
					color: $green;

				}
			}
		}
		.input-sbt{
			@include font-size(20px);
			width: 240px;
			color: #fff;
			cursor: pointer;
			padding: 11px;
			font-family: 'etelkaregregular';
			border: none;
			background: $green;
			outline: none;
			@include transition(.25s);
			&:hover{
				color: $green;
				background: #fff;
			}
		}
	}
}
.nav{
	&__item{
		display: inline-block;
		position: relative;
	}
	&__link{
		@include font-size(20px);
		@include transition(.25s);
		padding: 0 12px;
		border: 2px dotted transparent;
		font-family: 'etelkaregregular';
		color: #5f6060;
		&_active{
			color: $green;
			border: 2px dotted $green;
			border-radius: 10px;
		}
		&:hover{
			color: $green;
		}
		&-phone{
			position: absolute;
			display: inline-block;
			bottom: 0;
			right: 14px;
			top: 20px;
			color: #4c00f8;
			@include font-size(14px);
			text-decoration: underline;
			font-family: 'etelkaregregular';
			&:hover{
				text-decoration: none;
			}
		}
	}
}