.header{
	padding-bottom: 45px;
	&__top-line{
		@include clearfix();
		min-height: 70px;
		background: #fff;
		line-height: 70px;
	}
	&__logo-wrap{
		float: left;
		img{
			vertical-align: middle;
		}
	}
	&__nav-wrap{
		float: right;
	}
	&__banner-wrap{
		min-height: 580px;
		background: url('../img/header_bg.jpg'); 
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 35px;
	}
}
.banner{
	&__title-wrap{
		padding-left: 18px;
		color: $grey;
		margin-top: 70px;
		width: 61%;
		position: relative;
		margin-bottom: 30px;
		&:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			left: 0;
			bottom: 0;
			top: 0;
		}
	}
	&-title{
		@include font-size(35px);
		text-transform: uppercase;
		background: #fff;
		margin-bottom: 15px;
	    padding: 5px 10px;
	    display: inline-block;
	}
	&-sub-title{
		@include font-size(18px);
		font-family: 'etelka_probold';
		display: block;
	}
	&__form-wrap{
		padding-left: 18px;
		width: 22%;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			bottom: 0;
			top: 0;
			left: 0;
		}
		.count-price select{
			display: none !important;
			margin: 0 auto !important;
			padding: 0px !important;
			position: absolute !important;
			left: 0px !important;
			top: 0px !important;
			width: 10px !important;
			height: 10px !important;
			opacity: 0 !important;
		}
		.jq-selectbox__select-text{
			padding: 10px;
		}
		.jq-selectbox{
			padding: 0 !important;
		}
		.jq-selectbox__select{
			&:after{
				content: '';
				position: absolute;
				width: 18px;
				height: 9px;
				background: url('../img/icons/arrow-b.png');
				right: 15px;
				top: 21px;	
			}
		}
		.jq-selectbox__dropdown{
			left: -3px;
		}
		.select-service,
		.input-tel{
			@include font-size(21px);
			margin-bottom: 20px;
			background: none;
			border: 3px solid #fff;
			padding: 10px;
			cursor: pointer;
			outline: none;
			color: $grey;
			background: #fff;
			width: 240px;
		}
		.input-tel::-webkit-input-placeholder{
			color: $grey;
		}
		.option-service{
			@include font-size(22px);
			cursor: pointer;
			padding: 10px;
			outline: none;
			color: $grey;
			width: 240px;
			background: #fff;
			border-bottom: 2px solid transparent;
			&-h{
				&:hover{
					border-bottom: 2px solid $green;
					color: $green;					
				}
			}
		}
		.input-sbt{
			@include font-size(20px);
			width: 240px;
			color: #fff;
			cursor: pointer;
			padding: 11px;
			border: none;
			background: $green;
			outline: none;
			@include transition(.25s);
			&:hover{
				color: $green;
				background: #fff;
			}
		}
	}
}
.nav{
	&__item{
		display: inline-block;
	}
	&__link{
		@include font-size(22px);
		@include transition(.25s);
		padding: 10px 12px;
		border: 2px dotted transparent;
		&_active{
			color: $green;
			border: 2px dotted $green;
			border-radius: 10px;
		}
		&:hover{
			color: $green;
		}
	}
}