.header{
	padding-bottom: 45px;
	&__top-line{
		@include clearfix();
		outline: 1px solid red;
		min-height: 70px;
		background: #fff;
		line-height: 70px;
	}
	&__logo-wrap{
		float: left;
		img{
			vertical-align: middle;
		}
	}
	&__nav-wrap{
		float: right;
	}
	&__banner-wrap{
		min-height: 580px;
		background: url('../img/header_bg.jpg'); 
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.banner{
	&__title-wrap{
		color: $grey;
		margin-top: 70px;
		width: 61%;
		position: relative;
		margin-bottom: 30px;
		&:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			left: -18px;
			bottom: 0;
			top: 0;
		}
	}
	&-title{
		@include font-size(35px);
		text-transform: uppercase;
		background: #fff;
		margin-bottom: 15px;
	    padding: 5px 10px;
	}
	&-sub-title{
		@include font-size(18px);
	}
	&__form-wrap{
		width: 22%;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			left: -18px;
			bottom: 0;
			top: 0;
		}
		.select-service,
		.input-tel{
			@include font-size(21px);
			width: 100%;
			margin-bottom: 20px;
			background: none;
			border: 3px solid #fff;
			padding: 10px;
			cursor: pointer;
			outline: none;
			color: $grey;
		}
		.input-tel::-webkit-input-placeholder{
			color: $grey;
		}
		.option-service{
			@include font-size(21px);
			cursor: pointer;
			padding: 10px;
			outline: none;
			color: $grey;
		}
		.input-sbt{
			@include font-size(20px);
			width: 100%;
			color: #fff;
			cursor: pointer;
			padding: 11px;
			border: none;
			background: $green;
			outline: none;
			&:hover{
				background: #6DA939;
			}
			&:active{
				background: #496F28;
			}
		}
	}
}
.nav{
	&__item{
		display: inline-block;
		margin-left: 60px;
		&:first-child{
			margin-right: 0;
		}
	}
	&__link{
		@include font-size(23px);
		padding: 10px 12px;
		&_active{
			color: $green;
			border: 2px dotted $green;
			border-radius: 10px;
		}
	}
}