@include breakpoint(400){
	.banner-title{
		@include font-size(27px);
	}
}

@include breakpoint(700){
	.easy__item{
		margin-bottom: 50px !important;
		&:after{
			content: '';
			position: absolute;
			background: url('../img/icons/arrow-b.png') 0 0 no-repeat;
			width: 18px;
			height: 36px;
			background-repeat: repeat-y;
			left: 50%;
			margin-left: -9px;
			margin-top: 5px;
		}
		&:last-child{
			margin-bottom: 20px !important;
			&:after{
				display: none;

			}
		}
	}
}
@include breakpoint(500){
	.safe__items-wrap{
		width: 100%;
	}
	.safe__item{
		width: 100%;
	}
}
@include breakpoint(1040){
	.h2{
		position: relative;
		margin-left: 20px;
	}
	.easy{
		&__items-wrap{
			width: 75%;
			text-align: center;
			margin: 0 auto;
		}
		&__item{
			margin-bottom: 20px;
			&:before{
				display: none;
			}
		}
	}
	.services{
		&__items-wrap {
			width: 80%;
			text-align: center;
			margin: 0 auto;
		}	
		&__item{
			margin-bottom: 20px;
		}
	}
	.safe{
		&__items-wrap{
			margin: 0 auto;
			float: none;
			text-align: center;
		}
		&__img{
			width: 250px;
			margin: 0 auto;
			float: none;
			img{
				padding-bottom: 20px;
			}
		}
		&__item{
			text-align: center;
			margin-bottom: 40px !important;
		}
	}
}
@include breakpoint(950){
	.header{
		&__logo-wrap{
			float: none;
		}
		&__nav-wrap{
			float: none;
		}
	}
	.nav{
		&__item{
			display: block;
			text-align: center;
		}
	}
}