.h2{
	 font-family: 'etelkaregregular';
	 @include font-size(40px);
	 position: relative;
	 margin-bottom: 45px;
	 padding-left: 18px;
	 color: #6a6a6a;
	 font-weight: normal;
	 &:before{
			content: '';
			position: absolute;
			border-left: 8px solid $green;
			left: 0;
			bottom: 0;
			top: 0;
		}
}
.partners{
	padding-top: 35px;
}
.partners__wrap{
    width: 100%;
    text-align: justify;
	margin-bottom: 28px;
	line-height: 0;
}
.partners__item{
	display: inline-block;
	width: 24%;
	vertical-align: top;
}
.partners__img{
	display: block;
	margin:0 auto;
}
// Call - center
.call-center{
	padding-top: 80px;
	padding-bottom: 70px;
	border-top: 3px solid #6a6a6a;
	border-bottom: 3px solid #6a6a6a;
	text-align: center;
	background: #fbfbfb;
}
.call-title-big {
	font-family: 'etelkaregregular';
	@include font-size(38.5px);
	margin-bottom: 60px;
	color: #6a6a6a;
	.green-text{
		color: #61a327;
		margin-right: 10px;
	}
}
.call-title-small{
	@include font-size(26px);
	margin-bottom: 60px;
	color: #6a6a6a;
}
.call-center {
	.call-button__link {
		font-size: 26px;
	}
}
.call-button{
	@include font-size(31px);
	color: $green;
    font-family: 'etelkaregregular';
	&__link{
		border:3px solid $green;
		@include border-radius(14px);
		padding: 7px 68px;
		display: inline-block;
	}
	&__link:hover{
		color:#fff;
		background: $green;
	}

}