.services{
	position: relative;
	padding-bottom: 10px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		background: url(../img/icons/pattern.png) repeat-x;
		height: 6px;
		width: 100%;
		bottom: 0;
	}
	&__items-wrap{
		width: 100%;
		text-align: center;
		&:last-child:after{
			content: '';
			width: 100%;
			display: inline-block;
		}
	}
	&__item{
		width: 205px;
		display: inline-block;
		position: relative;
		text-align: center;
		vertical-align: top;
		margin-left: 15px;
		&:first-child{
			margin-left: 0;
		}
		&-img{
			margin-bottom: 5px;
			height: 148px;
			width: 148px;
			display: inline-block;
			img{
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}
		&-title{
			margin-bottom: 5px;
			min-height: 36px; 
			line-height: 36px; 
			margin-bottom: 5px; 
			vertical-align: middle; 
			.h3{
				@include font-size(20px);
				color: #717171;
				display: inline-block;
				line-height: 18px;
				vertical-align: middle;
			}
		}
		&-dscr{
			line-height: 13px;
			.span{
				@include font-size(14px);
				color: #acacac;
			}
		}
	}
}