body{
	font-family: 'etelka_prolight';
	color: $lightgrey;
}
h1{
	font-size: 2em;
}
.container{
	@include clearfix();
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}
.container-short{
	@include clearfix();
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 10px;
}
@include breakpoint(1024){
	h1{
		font-size: .2em;
	}
}
*{
	box-sizing: border-box; *behavior: url(js/crossbr/boxsizing.htc);
}
