extends _layout.jade
block header
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad mollitia sint odit! Voluptatum, alias corporis ab iure, laudantium ipsam aspernatur quasi, suscipit culpa distinctio quos, molestiae quaerat? Molestiae, veniam.
block main
	.div 
		| Lorem ipsum dolor sit amet, consectetur 
		| adipisicing elit. Commodi, atque!
block footer
	include ./_includes/_layout/_footer_top
