extends _layout.jade
block main
	include ./_includes/_layout/_services
	include ./_includes/_layout/_safe
	include ./_includes/_layout/_easy
	include ./_includes/_layout/_every-day
	include ./_includes/_layout/_partners