extends _layout.jade
block header
	title Услуги
block main
	.div
		| Lorem ipsum dolor sit amet, consectetur
		| adipisicing elit. Commodi, atque!
block footer
	include ./_includes/_layout/_footer_top
