section.easy
	.container
		h2.h2
			| Всё просто!
		.easy__items-wrap
			.easy__item
				.easy__item-img.easy__item-img-1
					img(src="img/icons/basket.png", alt="")
				.easy__item-title
					span.span
						| Закажите услугу
				.easy__item-dscr
					p.p
						| Расскажите, какая услуга Вам нужна
			.easy__item
				.easy__item-img.easy__item-img-2
					img(src="img/icons/call-m.png", alt="")
				.easy__item-title
					span.span
						| Консультация с оператором
				.easy__item-dscr
					p.p
						| Составление технического задания для проекта
			.easy__item
				.easy__item-img.easy__item-img-3
					img(src="img/icons/play.png", alt="")
				.easy__item-title
					span.span
						| Запуск
				.easy__item-dscr
					p.p
						| Изучаем проект, пишем сценарии,
						| приступаем к работе от 3 дней
			.easy__item
				.easy__item-img.easy__item-img-4
					img(src="img/icons/card.png", alt="")
				.easy__item-title
					span.span
						| Платите за результат
				.easy__item-dscr
					p.p
						| И наслаждайтесь работой
						| выделенных для Вас менеджеров
		.call-button
			a(href="#").call-button__link.popup-uslugi
				| Выбери то, что тебе нужно