.every-day
	.container
		.every-day__title
			| То, что происходит каждый день:
		.every-day__content
			.every-day__item
				.amount 30
				.text операторов находится на линии каждый день
			.every-day__item.bottom
				.amount 20000
				.text холодных звонков осуществляется в день
			.every-day__item
				.amount 867
				.text  сделок в день совершают наши операторы с целью продать Ваш товар
			.every-day__item.bottom
				.amount 12000
				.text минут в день уходит на переговоры
			.every-day__item
				.amount 913
				.text входящих звонков поступает нашим операторам в день
		.every-day__make-order
			a.make-order(href='#') Заказать услугу