section.footer__top
	.container
		.footer__top-wrap
			.footer__left-block
				.logo-wrap
					a(href="?")
						img(src="img/logo.png", alt="Лого").logo-img
				.menu-wrap
					ul.footer-menu__list
						li.footer-menu__item
							a(href="#").footer-menu__link Наши услуги
						li.footer-menu__item
							a(href="#").footer-menu__link Вопрос и ответ
						li.footer-menu__item
							a(href="#").footer-menu__link Контакты
						li.footer-menu__item
							a(href="#").footer-menu__link Приведи друга
						li.footer-menu__item
							a(href="#").footer-menu__link Публичная оферта
						li.footer-menu__item
							a(href="#").footer-menu__link Карта сайта
						li.footer-menu__item
							a(href="#").footer-menu__link Работа в Call One
						li.footer-menu__item
							a(href="#").footer-menu__link Блог
						li.footer-menu__item
							a(href="#").footer-menu__link Статьи
			.footer__right-block
				.social-block__wrap
					.social-block__title
						| Мы в соцсетях:
					ul.social-block__list
						li.social-block__item
							a(href="https://www.facebook.com/Call-One-contact-centr-113132025776762/?skip_nax_wizard=true" target="_blank").social-block__link.social-block__link_fb
						li.social-block__item
							a(href="https://vk.com/callone" target="_blank").social-block__link.social-block__link_vk
						li.social-block__item
							a(href="https://www.instagram.com/callone1/" target="_blank").social-block__link.social-block__link_inst
				.pay-block__wrap
					.pay-block__title
						|Способы оплаты
					ul.pay-block__list
						li.pay-block__item
							a(href="#" target="_blank").pay-block__link.pay-block__link_mc-visa
						li.pay-block__item
							a(href="#" target="_blank").pay-block__link.pay-block__link_sber-russia
						li.pay-block__item
							a(href="#" target="_blank").pay-block__link.pay-block__link_tinkoff