section.partners
	.container
		h2.h2 Наши партнеры 
		.partners__wrap
			.partners__item
				img(src="img/skoda.png", alt="skoda").partners__img
			.partners__item
				img(src="img/everad.png", alt="Everad").partners__img
			.partners__item
				img(src="img/balans.png", alt="balans").partners__img
			.justify
section.call-center
	.container
		.call-title-big 
			| Услуги Call-центра <br>
			span.green-text
				|от 6,5 рублей 
			|за минуту разговора оператора
		.call-title-small
			| Мы готовы приступить к работе в течение трех дней.
		.call-button
			a(href="#").call-button__link Заказать услугу