.container-popup
		.popup__title Наши услуги
			.close__popup.b-close
		.popup__most-populars
			.most-populars__title Самые популярное
			.most-populars__wrap-item
				ul.most-populars__list
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-phone.png", alt="")
						.most-populars__descr Холодные продажи
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-hotline.png", alt="")
						.most-populars__descr Горячая линия
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-messege.png", alt="")
						.most-populars__descr Прием и обработка заказов
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-folder.png", alt="")
						.most-populars__descr Аутсорсинг персонала
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-monitor.png", alt="")
						.most-populars__descr Услуги дизайнеров
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-24.png", alt="")
						.most-populars__descr Операторы в ноченое время
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-1c.png", alt="")
						.most-populars__descr Услуги операторов 1С
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-search.png", alt="")
						.most-populars__descr Поиск потенциальных клиентов
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-book.png", alt="")
						.most-populars__descr Разработка сценаривев для холодных продаж
					li.most-populars__item
						.most-populars__image 
							img(src="img/pop-ok.png", alt="")
						.most-populars__descr Ведение клиентов после продажи
					.most-populars__item-last
		.zakazy-wrap
			.zakazy__title У нас можно заказать
			.container-for-zakaz
				.zakazy__phone
					.zakazy__left-block
						a(href="#").usligi__link Входящие вызовы:
						ul.poduslugi__list
							li.poduslugi__item
								a(href="#").poduslugi__link Горячая линия
							li.poduslugi__item
								a(href="#").poduslugi__link Прием и обработка заказов
							li.poduslugi__item
								a(href="#").poduslugi__link Виртуальный секретарь
							li.poduslugi__item
								a(href="#").poduslugi__link Организация справочной службы
							li.poduslugi__item
								a(href="#").poduslugi__link Аутсорсинг персонала
							li.poduslugi__item
								a(href="#").poduslugi__link Виртуальный офис
							li.poduslugi__item
								a(href="#").poduslugi__link Обработка звонков и заявок
							li.poduslugi__item
								a(href="#").poduslugi__link Организация колл-центра
							li.poduslugi__item
								a(href="#").poduslugi__link Консультации по телефону
							li.poduslugi__item
								a(href="#").poduslugi__link Номер 8-800
							li.poduslugi__item
								a(href="#").poduslugi__link Он-лайн консультант
							li.poduslugi__item
								a(href="#").poduslugi__link Аренда рабочих мест
							li.poduslugi__item
								a(href="#").poduslugi__link Аренда удаленных операторских мест
					.zakazy__right-block
						a(href="#").usligi__link Исходящие вызовы:
						ul.poduslugi__list
							li.poduslugi__item
								a(href="#").poduslugi__link Холодные продажи
							li.poduslugi__item
								a(href="#").poduslugi__link Обзвон клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Актуализация клиентской базы
							li.poduslugi__item
								a(href="#").poduslugi__link Оповещение об Акциях
							li.poduslugi__item
								a(href="#").poduslugi__link Проведение опросов
							li.poduslugi__item
								a(href="#").poduslugi__link Презентация по телефону
							li.poduslugi__item
								a(href="#").poduslugi__link Активные продажи
							li.poduslugi__item
								a(href="#").poduslugi__link Проверка качествапредоставленных услуг
							li.poduslugi__item
								a(href="#").poduslugi__link Тайный покупатель
							li.poduslugi__item
								a(href="#").poduslugi__link Маркетинговые исследования
							li.poduslugi__item
								a(href="#").poduslugi__link Телемаркетинг
							li.poduslugi__item
								a(href="#").poduslugi__link Поиск клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Возврат клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Социологический опрос
							li.poduslugi__item
								a(href="#").poduslugi__link Продажи по телефону
							li.poduslugi__item
								a(href="#").poduslugi__link Создание и актуализация баз данных
							li.poduslugi__item
								a(href="#").poduslugi__link Анкетирование
							li.poduslugi__item
								a(href="#").poduslugi__link Обучение персонала
							li.poduslugi__item
								a(href="#").poduslugi__link Прямой маркетинг
							li.poduslugi__item
								a(href="#").poduslugi__link Информирование клиентов
				.zakazy__pr
					.zakazy__left-block
						a(href="#").usligi__link Холодные продажи:
						ul.poduslugi__list
							li.poduslugi__item
								a(href="#").poduslugi__link Активные продажи
							li.poduslugi__item
								a(href="#").poduslugi__link Телемаркетинг
							li.poduslugi__item
								a(href="#").poduslugi__link Возврат ушедших клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Ведение клиентов b2b
							li.poduslugi__item
								a(href="#").poduslugi__link Повторные продажи b2b
							li.poduslugi__item
								a(href="#").poduslugi__link Поиск потенциальных клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Сегментирование групп потенциальных клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка сценариев для холодных продаж
							li.poduslugi__item
								a(href="#").poduslugi__link Сбор базы потенциальных клиентов
							li.poduslugi__item
								a(href="#").poduslugi__link Работа с договорами
							li.poduslugi__item
								a(href="#").poduslugi__link Ведение клиентов после продажи
						a(href="#").usligi__link Аутсорсинг персонала:
						ul.poduslugi__list
							li.poduslugi__item
								a(href="#").poduslugi__link Для Call-центров
							li.poduslugi__item
								a(href="#").poduslugi__link Операторы в ночное время
							li.poduslugi__item
								a(href="#").poduslugi__link Услуги программистов 1С
							li.poduslugi__item
								a(href="#").poduslugi__link Услуги операторов 1С
							li.poduslugi__item
								a(href="#").poduslugi__link Тестировщик сайтов, мобильных приложений, программ, кмпьютерных и мобильных игр
							li.poduslugi__item
								a(href="#").poduslugi__link Контролер видео наблюдения
							li.poduslugi__item
								a(href="#").poduslugi__link Услуги копирайтеров
							li.poduslugi__item
								a(href="#").poduslugi__link Услуги дизайнеров
					.zakazy__right-block
						a(href="#").usligi__link Услуги для владельцев сайтов:
						ul.poduslugi__list
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка сайтов и landing page
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка баннеров для сайта и социальных сетей
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка аватара и меню для группы в социальных сетях
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка коммерческих предложений
							li.poduslugi__item
								a(href="#").poduslugi__link Модерация и управления групп в социальных сетях
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка и тест рекламы в крупных пабликах и группах в социальных сетях
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка и тест таргетированной рекламы в социальных сетях
							li.poduslugi__item
								a(href="#").poduslugi__link Ведение аккаунтов в Instagram
							li.poduslugi__item
								a(href="#").poduslugi__link Продвижение аккаунтов в Instagram
							li.poduslugi__item
								a(href="#").poduslugi__link Разработка боты в Messenger «Telegram» для вашего бизнеса
							li.poduslugi__item
								a(href="#").poduslugi__link Настройка боты в Messenger «Telegram» для вашего бизнеса
							li.poduslugi__item
								a(href="#").poduslugi__link Комплексное размещение Ваших товаров или услуг в торговые площадки "Авито" и в новостных каналах "Новости Google"
							li.poduslugi__item
								a(href="#").poduslugi__link Работа с размещением Отзывами в форумах, чатах, Яндекс Маркете;
							li.poduslugi__item
								a(href="#").poduslugi__link Работа с Отзывами о продукте в социальных сетях
							li.poduslugi__item
								a(href="#").poduslugi__link Копирайтинг
				.zakazy__button
					.every-day__make-order
						a(href="#").make-order Заказать услугу
					.zakazy__button-descr 
						|Если у вас возникли дополнительные вопросы, <br> позвоните нам по номеру: 
						a(href="tel:+7 (495) 587-40-33") +7 (495) 587-40-33