section.safe
	.container-short
		h2.h2
			| У нас всё надежно!
		.safe__items-wrap
			.safe__item
				.safe__item-title
					span.span
						| Проверяем исполнителей 
				.safe__item-dscr
					p.p
						| Отбор операторов проходит в 
						| несколько этапов — собеседование, 
						| тестирование, проверка в диалогах. 
						| С нами остаются только лучшие из 
						| лучших.
			.safe__item
				.safe__item-title
					span.span
						| Принимаем ответственность 
				.safe__item-dscr
					p.p
						| Если что-то пошло не так, 
						| мы оперативно решаем вопросы 
						| и исправляем недоразумения
			.safe__item
				.safe__item-title
					span.span
						| Следим за качеством
				.safe__item-dscr
					p.p
						| Вы оцениваете работу операторов 
						| по пятибалльной шкале, а мы 
						| следим, чтобы они всегда 
						| делали свою работу на отлично
			.safe__item
				.safe__item-title
					span.span
						| Индивидуальные цены
				.safe__item-dscr
					p.p
						| Мы можем предоставлять услуги 
						| по индивидуальным ценам, все 
						| зависит от того сколько минут
						| Вы используете в месяц.
			.safe__about
				a(href="#").safe__link
					| Подробнеее о безопасности
		.safe__img
			img(src="img/icons/medal.png", alt="")


