section.services
	.container
		.services__items-wrap
			.services__item
				.services__item-img
					img(src="img/icons/timer.png", alt="")
				.services__item-title
					h3.h3
						| Быстрый запуск 
				.services__item-dscr
					span.span
						| Мы быстро изучим Ваш проект
						| и сразу приступим к работе 
			.services__item
				.services__item-img
					img(src="img/icons/person.png", alt="")
				.services__item-title
					h3.h3
						| Надёжные исполнители 
				.services__item-dscr
					span.span
						| У нас не бывает случайных людей
			.services__item
				.services__item-img
					img(src="img/icons/masks.png", alt="")
				.services__item-title
					h3.h3
						| Разработка сценариев диалогов 
				.services__item-dscr
					span.span
						| Мы знаем, как найти подход
			.services__item
				.services__item-img
					img(src="img/icons/planet.png", alt="")
				.services__item-title
					h3.h3
						| Настройка IP-телефонии 
				.services__item-dscr
					span.span
						| Настройка специалистом 
						| в течении двух часов 
			.services__item
				.services__item-img
					img(src="img/icons/like.png", alt="")
				.services__item-title
					h3.h3
						| Честный подход 
				.services__item-dscr
					span.span
						| Берем ответственность 
						| за свою работу 

